/*config padrão
*/
body,
html {
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
}
.conteudo {
    text-align: justify;
    color: #777;
    background: #fff;
    padding: 50px;
}
h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}
p {
    text-align: center;
    color: rgb(0, 0, 0);
}
/*efeito parallax*/
.caixa1,
.caixa2,
.caixa3,
.caixa4,
.caixa5,
.caixa6 {
    height: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.caixa1 {
    background-image: url(./imagens/imagem1.jpg);
}
.caixa2 {
    background-image: url(./imagens/imagem2.jpg);
}
.caixa3 {
    background-image: url(./imagens/imagem3.jpg);
}
.caixa4 {
    background-image: url(./imagens/imagem4.jpg);
}
.caixa5 {
    background-image: url(./imagens/imagem5.jpg);
}
.caixa6 {
    background-image: url(./imagens/imagem6.jpg);
}
html {
    scroll-behavior: smooth;
}
.conteudo-titulo {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    color: #fff;
    text-align: center;
}
.conteudo-titulo span {
    font-size: 1.2em;
    padding: 18px;
    letter-spacing: 5px;
    background-color: #111;
}
